#introduction {
  margin-top: 185rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

@media screen and (width >= 768px) {
  #introduction {
    margin-top: 160rem;
  }
}
